@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased font-serif;
  }
}
@layer components {
  .page-content {
    @apply flex flex-col justify-center gap-8 text-lg sm:text-xl leading-relaxed;
  }
  .member {
    @apply text-base sm:text-xl flex w-full flex-row justify-between items-center md:w-[31rem];
  }
}
@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 20px rgb(0, 0, 0);
  }
  .antialiased {
    -webkit-font-smoothing: antialiased;
  }
  .fade-edges {
    mask-image: radial-gradient(
      ellipse 80% 80% at center,
      black 40%,
      transparent 100%
    );
  }
}
